# LIST

                            TOPICS
                            ======

1) List
    Method
    Indexing
    slicing
    list comprehensive
2) Loop
    For 
    While
3) Distionary

In [2]:
l1 = ['abc' , 123 , False , 1.0]
l1

['abc', 123, False, 1.0]

# LIST INDEXING

In [3]:
# positve indexing starts with 0
l1[2]

False

In [5]:
# negative indexing starts with -1
l1[-1]

1.0

# LIST UPDATING

In [6]:
l1[0] = 'Hello World'

In [7]:
l1[-1] = 100.10

In [9]:
l1[-1]

100.1

# LIST METHODS

In [10]:
l2 = [1,5,2,41,512,4,2,45,12]
l2

[1, 5, 2, 41, 512, 4, 2, 45, 12]

In [12]:
sorted(l2)

[1, 2, 2, 4, 5, 12, 41, 45, 512]

In [14]:
sorted(l2,reverse=True)

[512, 45, 41, 12, 5, 4, 2, 2, 1]

# RANGE

In [15]:
range(15)

range(0, 15)

In [16]:
range(1,20)

range(1, 20)

In [19]:
list(range(1,100,10))

[1, 11, 21, 31, 41, 51, 61, 71, 81, 91]

In [17]:
list(range(15))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [23]:
# assigning value thorugh range

for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

# PREDEFINE FUNCTION

In [21]:
chr(90)

'Z'

In [22]:
ord('A')

65

# MAPING

In [24]:
alphabets = list(range(65,90))

In [25]:
alphabets

[65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89]

In [27]:
list(map(chr,alphabets)) # convert numbers to character through map

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y']

In [28]:
# 0 - 9 (48 - 57)
# A - Z (65 - 90)
# 0 - 9 (97 - 122)

In [32]:
num = list(range(48,57))
num

[48, 49, 50, 51, 52, 53, 54, 55, 56]

In [33]:
list(map(chr,num))

['0', '1', '2', '3', '4', '5', '6', '7', '8']

In [34]:
Cap_alpha = list(range(65,90))
Cap_alpha

[65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89]

In [35]:
list(map(chr,Cap_alpha))

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y']

In [40]:
sm_alpha = list(range(97,123))
sm_alpha

[97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122]

In [48]:
cap_alpha = list(map(chr,sm_alpha))
cap_alpha

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

# SLICING

In [42]:
# obj[start : end : step]
# start = include
# end = exclude
# step = sequence

In [43]:
S = list(range(1,10))
S

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [45]:
S[ 0 : 5 ]       # end value not include in result

[1, 2, 3, 4, 5]

In [50]:
list(enumerate(cap_alpha))

[(0, 'a'),
 (1, 'b'),
 (2, 'c'),
 (3, 'd'),
 (4, 'e'),
 (5, 'f'),
 (6, 'g'),
 (7, 'h'),
 (8, 'i'),
 (9, 'j'),
 (10, 'k'),
 (11, 'l'),
 (12, 'm'),
 (13, 'n'),
 (14, 'o'),
 (15, 'p'),
 (16, 'q'),
 (17, 'r'),
 (18, 's'),
 (19, 't'),
 (20, 'u'),
 (21, 'v'),
 (22, 'w'),
 (23, 'x'),
 (24, 'y'),
 (25, 'z')]

In [51]:
cap_alpha[10:]

['k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [52]:
cap_alpha[10::]

['k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [57]:
cap_alpha

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [58]:
cap_alpha[::-1]

['z',
 'y',
 'x',
 'w',
 'v',
 'u',
 't',
 's',
 'r',
 'q',
 'p',
 'o',
 'n',
 'm',
 'l',
 'k',
 'j',
 'i',
 'h',
 'g',
 'f',
 'e',
 'd',
 'c',
 'b',
 'a']

In [61]:
table_2 = list(range(1,11))
table_2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# LIST COMPREHENSIVE

In [62]:
[x*2 for x in range(1,11)]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [63]:
["{} X {} = {}".format(2,x,x*2) for x in range(1,11)]

['2 X 1 = 2',
 '2 X 2 = 4',
 '2 X 3 = 6',
 '2 X 4 = 8',
 '2 X 5 = 10',
 '2 X 6 = 12',
 '2 X 7 = 14',
 '2 X 8 = 16',
 '2 X 9 = 18',
 '2 X 10 = 20']

In [ ]:
#[value_True for element in kist if logic else value_false]