In [2]:
# Topics:
# 1)  Dictionary
#     * Methods
#     * Attributes
#     * Value extraction
# 2)  Functions
#     * Default Functions
#     * Required Arguments Functions
#     * Optional Arguments Functions
#     * Key / Value Arguments

# DICTIONARY (SAME AS OBJECT [JSON])

In [4]:
# LIST (Same as Array)

l2 = ['Daniyal','SMD','03123456789','044']
print(*l2)

Daniyal SMD 03123456789 044

In [5]:
# Dictionary

obj1 = {
    'name' : 'Syed Muhammad Daniyal',
    'F_name' : 'Syed Nayyar Iqbal',
    'id' : '1234',
    'cell' : '12345678901',
    'age' : 21
}
obj1

{'name': 'Syed Muhammad Daniyal',
 'F_name': 'Syed Nayyar Iqbal',
 'id': '1234',
 'cell': '12345678901',
 'age': 21}

In [7]:
obj1['name']

'Syed Muhammad Daniyal'

In [8]:
# Key can be String and Integer
# Value can be of any data types

In [18]:
print(*obj1)

name F_name id cell age

# Dictionary Value Extraction

In [20]:
def abc(name,course,Id):
    print(name,course,Id)

In [21]:
obj = {
    'course' : 'AI',
    'name' : 'SMD',
    'Id' : 12
}
abc(**obj)

SMD AI 12

# DICTIONARY METHODS

In [25]:
obj2 = obj.copy
obj2

In [24]:
print(obj2)

<built-in method copy of dict object at 0x0000024B1FCA6D38>

In [26]:
l1 = ['Name','Father_Name','Address']
new_Obj = dict.fromkeys(l1) #Create Dictionary From keys

In [29]:
new_Obj

{'Name': None, 'Father_Name': None, 'Address': None}

In [31]:
l2 = ['Name','Father_Name','Address']
new_Obj2 = dict.fromkeys(l2,'****') #Create Dictionary From keys with defined values
new_Obj2

{'Name': '****', 'Father_Name': '****', 'Address': '****'}

In [33]:
new_Obj2.get('Name')  # Get value against Keys

'****'

In [34]:
new_Obj2.keys() # Return list of Keys

dict_keys(['Name', 'Father_Name', 'Address'])

In [35]:
new_Obj2.items() # Return List/Tuple of All Keys and Values

dict_items([('Name', '****'), ('Father_Name', '****'), ('Address', '****')])

In [36]:
new_Obj2.values() # Return List of Values

dict_values(['****', '****', '****'])

In [40]:
for e in new_Obj2.items():
    print(e)
    print(*e)

('Name', '****')
Name ****
('Father_Name', '****')
Father_Name ****
('Address', '****')
Address ****

In [41]:
new_Obj2.pop('Address') #Remove key

'****'

In [42]:
new_Obj2.popitem() #Remove last Tuple (Key/value)

('Father_Name', '****')

In [43]:
new_Obj2

{'Name': '****'}

In [44]:
obj = {
    'Name' : 'SMD',
    'Id' : '123',
    'Course' : 'AI'
}

In [45]:
obj.setdefault('Address','Street1')   # Add Item

'Street1'

In [46]:
obj

{'Name': 'SMD', 'Id': '123', 'Course': 'AI', 'Address': 'Street1'}

In [48]:
a= {
    'Name':'Daniyal'
}
obj.update(a)   # update value and take one argument of new object
obj

{'Name': 'Daniyal', 'Id': '123', 'Course': 'AI', 'Address': 'Street1'}

In [49]:
obj[1] = '1998'   # update throuh index

In [50]:
obj

{'Name': 'Daniyal',
 'Id': '123',
 'Course': 'AI',
 'Address': 'Street1',
 1: '1998'}

In [54]:
db = []
while True:
    Name = input("Enter Your Name: ")
    Father_Name = input("Enter Your Father Name: ")
    a = {}
    if not(Name == 'N') or not(Father_Name == 'N'):
        a['name'] = Name
        a['fname'] = Father_Name
        db.append(a)
    else :
        print(db)
        break

Enter Your Name: Daniyal
Enter Your Father Name: Nayyar
Enter Your Name: Omer
Enter Your Father Name: Akram
Enter Your Name: N
Enter Your Father Name: N
[{'name': 'Daniyal', 'fname': 'Nayyar'}, {'name': 'Omer', 'fname': 'Akram'}]

# FUNCTIONS

In [70]:
# def student(name, S_id , F_Name):
#     info = """
#     Student INFO
#     Name : {}
#     ID : {}
#     Father Name : {}
#     """
#     print(info.format(name,S_id,F_Father))
#     return;
    

# student('Daniyal','123','Nayyar')

In [61]:
def abc(*a): # take list 
    print(sum(a))
abc(123,412,124,1243,14)

1916

In [66]:
def abcd(**d): # take list 
    print(d)
    
abcd(Name ='Daniyal',Course = 'AI')

{'Name': 'Daniyal', 'Course': 'AI'}